/* Here, you can import any custom TailwindCSS classes and styles that you want */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For example, if you need a colour that doesn't exist in the default TailwindCSS palette, you can define it here */
@theme {
  --color-midnight: #110619;
  --shadow-button: 0px 2px 8px 0px rgba(139, 92, 246, 1);
  --shadow-card: 0px 1px 20px 0px rgba(139, 92, 246, 1);
}

* {
  scroll-behavior: smooth;
}

body {
  background: #110619;
  font-family: 'Manrope', sans-serif;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #110619;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.7);
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.9);
}

.side-panel {
  width: 25%; /* Set width to 25% */
  max-height: 100vh; /* Limit height to the screen height */
  background-color: #1a202c; /* Midnight background color (you can change this to fit your design) */
  overflow-y: auto; /* Make the content scrollable if it overflows */
  box-shadow: 0px 4px 6px rgba(138, 87, 255, 0.6); /* Shadow with violet color */
  position: fixed; /* Fix the side panel in place */
  top: 0;
  right: 0; /* Or 'left: 0;' depending on where you want the panel */
}

.custom-select option {
  background-color: #250b47;
  /* deep violet */
  color: #ffffff;
  /* white text */
}

.custom-select option:hover {
  background-color: #7c2ae8;
  /* lighter violet on hover? */
}